/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 28px;
  padding-top: 0;
  background:rgb(29,75,77) !important;
}

#footer {
  margin-top:10px;
  width: 100%;
  height: 18px;
  font-size:12px;
}

#footer a {
    color:#eeeeee;
}

/* Custom jumbotron */
.jumbotron {
  /*padding: 144px 0;*/
}

.artist-input {
    width:800px;
}

.sp-jumbotron-custom-inverse {
  /*background-image: url(images/background.jpg);*/
  background-image: url(images/bg.jpg);
}

@media screen and (min-width: 768px) {
  .sp-jumbotron-custom {
    background-image: url(images/bg.jpg);
  }
}


.h1 {
  margin-bottom: 32px; /* (@padding-base-vertical * 7) */
}

#top {
    margin-top:66px;
    position:relative;
}

img {
  margin: 0 auto;
}

h3 {
  font-weight: 600; /* @font-weight-semibold */
  margin-top: 12px;
}


p {
  margin-bottom: 18px; /* a little more breathing room between feature tiles in mobile
view) */
}

@media screen and (min-width: 992px) {
  p {
    margin-bottom: 12px; /* reset to default */
  }
}

.work {
}

#info {
    font-size:32px;
    margin-bottom:10px;
    padding-top:20px;
    color:white;
}

#spacer {
    margin-top:66px;
}

.fine-print {
  margin-bottom: 30px; /* (@padding-base-vertical * 5) */
}

#search-form {
    margin-bottom:20px;
}

#go {
    margin-bottom:0px;
}


.imgdiv {
    min-height:600px;
    border-color:red;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-position: center 20%;
    position:relative;
    margin-bottom:4px;
}

.artist-panel {
    position:relative;
    width:100%;
}

.intitle {
    padding-left:10px;
    font-size:32px;
    font-weight:lighter;
    background: rgba(14, 14, 14, 0.8); 
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}

#results {
    margin-top:20px;
    display:none;
}

.artist-result {
    text-align:center;
}

#ttext {
    margin-top:20px;
    margin-bottom:30px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;

}

#ttitle {
}

#jumbo-dialog {
    background: rgba(14,14,14, 0.3);
    border-radius:5px;
}


#bottom-buttons {
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    display:none;
}

#save {
    margin-top:20px;
}


#photo-credit {
    font-size:10px;
    position:absolute;
    bottom:0px;
    color:#cccccc;
}

#photo-credit a {
    color:#cccccc;
}

#brand {
    margin-left:20px;
    margin-right:20px;
}


#pause-play {
    margin-bottom:20px;
}

.play-button {
}

#search-results {
}

#the-tweet {
    margin-top:20px;
}
